# Use postgres/example user/password credentials
services:
  chat_app_1:
    image: ghcr.io/widgrensit/chat_app:latest
    ports:
      - 8100:80
    depends_on: [ db ]
  chat_app_2:
    image: ghcr.io/widgrensit/chat_app:latest
    ports:
      - 8200:80
    depends_on: [ db ]
  chat_app_3:
    image: ghcr.io/widgrensit/chat_app:latest
    ports:
      - 8300:80
    depends_on: [ db ]
  ldf:
    image: ghcr.io/widgrensit/ldf:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8095:8095
  chatli:
    image: ghcr.io/widgrensit/chatli:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8090:8090
  db:
    image: postgres:17-alpine
    command: -c 'max_connections=2000'
    environment:
      POSTGRES_PASSWORD: root
    ports:
      - 5555:5432
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 10
  adminer:
    image: adminer
    ports:
      - 8082:8080
