# Use postgres/example user/password credentials
version: "3.1"
services:
  chat_app_1:
    image: ghcr.io/widgrensit/chat_app:latest
    ports:
      - 8100:8100
    depends_on: [db]
  chat_app_2:
    image: ghcr.io/widgrensit/chat_app:latest
    ports:
      - 8200:8100
    depends_on: [db]
  chat_app_3:
    image: ghcr.io/widgrensit/chat_app:latest
    ports:
      - 8300:8100
    depends_on: [db]
  ldf:
    image: ghcr.io/widgrensit/ldf:latest
    depends_on: [db]
    ports:
      - 8095:8095
  chatli:
    image: ghcr.io/widgrensit/chatli:latest
    depends_on: [db]
    ports:
      - 8090:8090
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: root
    ports:
      - 5555:5432
    volumes:
      - ./sql:/docker-entrypoint-initdb.d/
  adminer:
    image: adminer
    restart: always
    ports:
      - 8082:8080